<div class="component-inner brightcove-inner">
  {{> component this}}
  {{#if _timestamp._isEnabled}}
    <div class="brightcove-timestamp">
      <div class="brightcove-timestamp-label">{{_timestamp._label}}:</div>
      {{#each _timestamp._items}}
        <span class="brightcove-timestamp-item"><a href="#">{{text}}</a></span>
      {{/each}}
    </div>
  {{/if}}
  <div class="brightcove-video-holder">
    <video data-embed="default" class="video-js" controls></video>
  </div>
  {{#if _transcript}}
    <div class="media-transcript-container">
      <div class="media-transcript-button-container">
        {{#if _transcript._inlineTranscript}}
          <button class="media-inline-transcript-button button {{#if _transcript._externalTranscript}}half-width{{/if}}" role="button">
              <div class="transcript-text-container">
                {{#if _transcript.inlineTranscriptButton}}
                  {{_transcript.inlineTranscriptButton}}
                {{else}}
                  {{_transcript.transcriptLink}}
                {{/if}}
              </div>
        </button>
        {{/if}}
        {{#if _transcript._externalTranscript}}
          <button onclick="window.open('{{_transcript.transcriptLink}}')" class="media-external-transcript-button button {{#if _transcript._inlineTranscript}}half-width{{/if}}" role="button">
            <div class="transcript-text-container">
              {{#if _transcript.transcriptLinkButton}}
                {{_transcript.transcriptLinkButton}}
              {{else}}
                {{_transcript.transcriptLink}}
              {{/if}}
            </div>
          </button>
        {{/if}}
      </div>

      {{#if _transcript._inlineTranscript}}
        <div class="media-inline-transcript-body-container">
          <div class="media-inline-transcript-body">
            {{{a11y_text _transcript.inlineTranscriptBody}}}
          </div>
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>
